
import(methods)

useDynLib(RMonet, .registration = TRUE, .fixes = "C_")

importFrom(stats, runif)

export(
       RMonetConnect,
       RMonetClose,
       RMonetStartTransaction,
       RMonetCommit,
       RMonetRollback,
       RMonetGetInfo,
       RMonetIsConnected,
       RMonetListTables,
       RMonetListFields,
       RMonetExecute,
       RMonetQuery,
       RMonetQuote,
       RMonetUnQuote,
       RMonetLoadDataFrame,
       dbquery,
       dbexecute,
       dbwrite
)

exportClasses(
              RMonet_Connector
)

S3method(print, "RMonet_Connector")

S3method(close, "RMonet_Connector")

